<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-12 col-md-12 col-lg-12">
    <circle-progress
    [percent]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ea641d'"
    [innerStrokeColor]="'#fff'"
    [subtitleColor]= "'#fff'"
    [imageWidth]="50"
    [imageHeight]="50"
    [showUnits]="false"
    [animation]="true"
    [innerStrokeWidth]="5"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="100"
    [title]="'CSS'"
    [titleColor]="'white'"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ea641d'"
    [innerStrokeColor]="'#fff'"
    [subtitleColor]= "'#fff'"
    [imageWidth]="50"
    [imageHeight]="50"
    [showUnits]="false"
    [animation]="true"
    [innerStrokeWidth]="5"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="80"
    [title]="'ANGULAR'"
    [titleColor]="'white'"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ea641d'"
    [innerStrokeColor]="'#fff'"
    [subtitleColor]= "'#fff'"
    [imageWidth]="50"
    [imageHeight]="50"
    [showUnits]="false"
    [animation]="true"
    [innerStrokeWidth]="5"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="100"
    [title]="'BOOTSTRAP'"
    [titleColor]="'white'"
    [radius]="75"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ea641d'"
    [innerStrokeColor]="'#fff'"
    [subtitleColor]= "'#fff'"
    [imageWidth]="50"
    [imageHeight]="50"
    [showUnits]="false"
    [animation]="true"
    [innerStrokeWidth]="5"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="70"
    [title]="'INGLES'"
    [titleColor]="'white'"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ea641d'"
    [innerStrokeColor]="'#fff'"
    [subtitleColor]= "'#fff'"
    [imageWidth]="50"
    [imageHeight]="50"
    [showUnits]="false"
    [animation]="true"
    [innerStrokeWidth]="5"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="100"
    [title]="'SCRUM'"
    [titleColor]="'white'"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ea641d'"
    [innerStrokeColor]="'#fff'"
    [subtitleColor]= "'#fff'"
    [imageWidth]="50"
    [imageHeight]="50"
    [showUnits]="false"
    [animation]="true"
    [innerStrokeWidth]="5"
    [animationDuration]="300"
    ></circle-progress>
    </div>