
    <div class="container">
      <div class="row">
        <h1>Proyectos Realizados</h1>
        <div class="col">
          <a href="https://codepen.io/MVMG/full/LYzdXjL"><img src="../../../assets/proyecto1.jpg" id="PaginaTributo"></a>
        </div>
        <div class="col">
          <a href="https://codepen.io/MVMG/full/OJxwbRJ"><img src="../../../assets/proyecto2.jpg" id="FormularioEncuesta"></a>
        </div>
        <div class="col">
          <a href="https://codepen.io/MVMG/full/eYGLVJB"><img src="../../../assets/proyecto3.jpg" id="PaginaTécnica"></a>
        </div>
      </div>
    </div>
    