<div class="row">
    <h1>CERTIFICACIONES</h1>
        <div class="col-lg-11">
                <ul>
            <li>
                <h1>Legacy Responsive Web Design</h1> - <h3>(FreeCodeCamp)</h3>
                <p>En esta Certificación de diseño web receptivo, se aprenden los lenguajes que usan los desarrolladores para crear páginas web: HTML (lenguaje de marcado de hipertexto) para el contenido y CSS (hojas de estilo en cascada) para el diseño.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>#SeProgramar</h1> - <h3>(Mumuki)</h3>
                <p>Primera etapa del Proyecto Argentina Programa en donde se capacita con los lenguajes de programación Gobstones, JavaScript y Ruby</p>
                </li>
        </ul>
        <ul>
            <li>
                <h1>Digitaliza paso a paso tu negocio con herramientas de Google</h1> - <h3>(Google)</h3>
                <p>El objetivo de esta certificación es conseguir que un negocio sea visible online y llegar a un mayor número de clientes.</p>
            </li>
        </ul>
    </div>
    </div>
